---
interface Props {
  firstWord: string;
  secondWord: string;
  path: string;
}
const { firstWord, secondWord, path } = Astro.props;
---

<div>
  <a href={path} class='text-2xl font-headings font-bold'>
    <span class='bg-linear-to-r text-sky-700 font-bold'>{firstWord}</span>
    <span class='bg-linear-to-r text-pink-700'>{secondWord}</span></a
  >
</div>
