---
import type { Heading } from '../types';
interface Props {
  heading: Heading;
}

const { title, className } = Astro.props.heading;
---

<h3 class='font-bold font-headings text-center text-2xl sm:text-3xl z-10'>
  {(<span class={className}>{title}</span>)}
</h3>
