---
const currentYear = new Date().getFullYear();
---

<section
  id='home'
  class='min-h-dvh bg-black/60 bg-[url("../assets/images/madrid.avif")] bg-cover bg-center bg-no-repeat bg-blend-color-dodge flex flex-col items-center justify-center snap-start px-4'
>
  <div
    class='relative max-w-full top-14 md:w-[600px] z-10 bg-black/60 rounded-md flex flex-col items-center justify-center gap-6 py-8 px-10'
  >
    <p class='text-2xl text-white text-center font-bold'>
      Llega este verano a Madrid:
    </p>
    <h1 class='font-bold text-white text-center text-4xl'>
      <span
        class='bg-linear-to-r from-amber-500 to-orange-500 bg-clip-text
      text-transparent'
        >KONEKTA
      </span>
      <span
        class='bg-linear-to-r from-amber-300 to-red-300 bg-clip-text text-transparent'
        >FRONTEND</span
      >
    </h1>
    <h2 class='text-lg text-center text-white font-light max-w-[490px]'>
      La esperada conferencia de programación Web que reunirá a los mejores
      desarrolladores del mundo
    </h2>
    <p class='text-md text-white text-center font-extra-light'>
      El 18, 19 y 20 de agosto de {currentYear} en el Hotel CodeHostel de Madrid
    </p>
    <small class='text-sm text-center text-white font-extra-light'
      >Calle del Coder, Nº 2</small
    >
    <a
      href='/entradas'
      class='flex text-md md:text-lg font-bold text-black/80 bg-amber-500 px-4 py-2 rounded-md'
      >APÚNTATE AHORA!</a
    >
  </div>
</section>
