---
import { Image } from 'astro:assets';
import speakersData from '../data/speakers';
import HeadingOfSection from './HeadingOfSection.astro';
import { speakersHeading } from '../data/headings';
import SpeakerCard from './SpeakerCard.astro';
---

<section
  id='speakers'
  class='sm:py-20 bg-stone-950 text-white scroll-mt-16 sm:scroll-mt-14 md:scroll-mt-10 snap-start'
>
  <div class='max-w-7xl mx-auto px-4 sm:px-6 lg:px-8'>
    <div class='flex justify-center items-center h-auto py-10'>
      <HeadingOfSection heading={speakersHeading} />
    </div>

    <div
      class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-8'
    >
      {speakersData.map((speaker) => <SpeakerCard speaker={speaker} />)}
    </div>
  </div>
</section>
